cd tra
body{
    margin: 0px;
    padding: 0px;
}

.mi{
    height: 100vh;
    width: 100%;
    background-size: cover;
}
/*
header{
    background-image: url('img/MI.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
}*/

h2{
    font-size: 50px;
    text-transform:uppercase;
    text-decoration: underline;
}

.red{
    color: #FB291F;
}

.innovation{
    margin-top: 50px;
}

 #en-tête{
     display: flex;
     justify-content: space-between;
     text-align: center;
     position: fixed;
     background-color:  white;
     margin-top: -65px;
     width: 100vw;
     height: 150px;

 }

 nav{
      margin: auto;
      word-spacing: 4px;
      margin-right: 200px;
      margin-top: 70px;
      font-size: 25px;
      border: 4px;
    }

a:hover{
      color: red;
    }

 a{
     color: black;
     text-decoration: none;
     padding: 20px;
 }

 .logo{
     margin-left: 200px;
     margin-top: 64px !important;
 }

 .title_section1{
     text-align: center;
     margin-top: 60px;
 }

 .our_services{
     display: flex;
     justify-content: space-around;
     margin-top: 10%;
 }

 .devices{
     background-color: white;
    
 }
 .services1{
     background-color: dodgerblue;
     
 }

 .services2{
    background-color: dodgerblue;
   
}

.services_parc{
    background-color: dodgerblue;
}

 .services1_parc{
    background-color: dodgerblue;
    margin-right: 10%;
    color: white;
 }
 
 .services1_parc p{
     margin-left: 20%;
 }
 .services1 p, .services2, .services_parc{
   font-size: 40px;
     color: white;
    text-align: center;
 }
  
 .section2{
     display: flex;
     justify-content: space-between;
     margin-left: 15%;
     margin-right: 20%;
     margin-top: 10%;
 }

 .title_section2{
     justify-content: space-between;
 }

 .title_section2 p{
     font-size: 45px;
     text-align: justify;
     text-justify: inter-word;
 }

 .image_depannage{
     margin: 100px 0 0 200px;
 }
 h3{
color:  dodgerblue;
text-decoration: underline;
font-size: 45px;
 }

 .section3{
     display: flex;
     justify-content: space-around;
     margin-right: 5%;
     margin-left: 15%;
 }

 .title_installation {
    margin-left: 100px;
 }

 .title_installation p{
     font-size: 45px;
     text-align: justify;
     text-justify: inter-word;
 }

 .logo_reseau{
     margin-top: 200px;
 }

 .section4{
     display: flex;
     justify-content: space-around;
     margin-right: 10%;
     margin-left: 10%;
 }

 .title_gestion_globale h2{
      color: dodgerblue;
      text-decoration: underline;
 }

 .title_gestion_globale p{
     font-size: 45px;
     text-align: justify;
     text-justify: inter-word;
 }

 .conseil-informatique-picto2{
     margin: 200px 0 0 100px;
 }

 #title_temoignage, #contact h2{
    text-align: center;
 }
 .temoignage{
     background-color: #C4C4C4;
     width: 300px;
     height: 205px;
     border-radius: 20px;
 }
 .temoin1{
     background-color: #D6E6DA;
     width: 300px;
     height: 200px;
     border-radius: 20px;
 }

 .temoin1 p{
     padding-left: 20px;
     padding-right: 20px;
 }
 .vincent{
     display: flex;
     justify-content: space-between;
 }

 .vincent_DG P{
    margin-right: 170px;
 }
 .homme_heureur{
     margin-top: 20px;
     margin-left: 20px;
 }
 
 .temoignage_bloc1{
     display: flex;
     justify-content: space-around;
     margin-top: 5%;
 }

 .temoignage_bloc{
     padding-left: 10%;
     padding-right: 10%;
 }

.btn-1{
    background-color: #1565D4;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #1565D4;
    margin-left: 45%;
    margin-top: 2%; 

 } 

 .btn-2{
    background-color: #1565D4;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #1565D4;
    margin-left: 40%;
    margin-top: 4%;
    position: relative;
 }
 

 .btn-1, .btn-2{
    font-size: 25px;
    color: white;
    margin-top: 4%;
    filter: contrast(100%);
 }

 .image_blue{
     background-image: url( "image_fond_bleu.png" );
     width: 100%;
     height: 500px;
     background-size: cover;
     justify-content: space-around;
 }

 .our_contacts{
     background-color: white;
     width: 15%;
     height: 350px;
     border-radius: 20px;
     margin-top: 30px;
     margin-left: 10%;
     padding-top: 50px;
     padding-left: 30px;
 }

 .whatsapp{
     display: flex;
 }

 .contact_first_line{
     display: flex;
     padding-right: 12px;
 }
 .image_blue{
     display: flex;
     justify-content: space-around;
 }
 form{
     margin-right: 30px;
     margin-top: 70px;
     padding-top: 30px;
 }
 
 input{
     border: none;
     outline: none;
     border-bottom: 1px solid black;
     background: none;
     margin-right: 8px;
 }

 #partenaires{
     display: flex;
     justify-content: space-between;
     margin-left: 20%;
     margin-right: 20%;
     margin-top: 10%;
 }

 .logo_partenaires h2{
    margin-left: 46%;
    margin-top: 5%;
 }

 .localisation{
     margin-top: 5%;
 }
 iframe{
     width: 100%;
     height: 500px;
 }

 footer{
     background-color: black;
     width: 100%;
     height: 350px;   
 }

 #reseaux_sociaux{
     display: flex;
     width: 100%;
     height: 0%;
     justify-content: space-around;
 }
 .reseau3{
   padding: 10%;
 }

.reseau3 p{
     color: white;
     width: 100px;
     justify-content: space-between;
}

.tous_reseaux{
    display: flex;
}

hr{
    margin: 0% 10% 0% 10%;
    height: 350px;
}
.copyrigth{
    display: flex;
    background-color: #C4C4C4;
    width: 47px;
    height: 46px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 200px;
    margin-left: 14%;
}

.copyrigth p{
    color: white;
    width: 200px;
    margin-left: 10px;
}
.footer_right p{
    color: white;
    font-size: 25px;
}


.bottom_contact{
     display: flex;
     margin-right: 20px;
}
/*
@media all and (max-width: 1482px){
    .grand_title p {
        position: relative;
        background-color: rgba(248, 245, 245, 0.7);
        width: 997px;
        height: 90vh;
        text-align: center;
        padding-top: 80px;
        top: 37px;
        left: 400px;
        margin-left: 30%;
        font-size: 40px;
}*/

@media all and (max-width: 1307px){
    .mi {
        height: 100vh
    }
    .title_section1 {
        margin-top: 303px;
    }
    .logo {
        width: 40px;
        height: 40px;
    }
    #en-tête {
        height: 107px;
    }
    .logo {
        margin-left: 200px;
        margin-top: 58px !important;
        width: 30px;
        height: 30px;
    }
    #partenaires {
        margin-top: 6%;
    }
    .our_contacts {
        width: 18%;
    }
    h2 {
        font-size: 40px;
    }
}

@media all and (max-width: 1153px){
    .temoignage {
        width: 280px;
    }
    .temoin1{
        width: 280px;
    }
    h2 {
        font-size: 40px;
    }
}

@media all and (max-width: 1072px){
    .temoin1{
        width: 260px;
    }
    .temoignage{
        width: 260px;
    }
    h2 {
        font-size: 40px;
    }
}
@media all and (max-width: 1037px){
    .mi {
        height: 100vh;
    }
    .title_section1 {
        margin-top: 430px;
    }
    #en-tête {
        height: 89px;
    }
    nav {
        margin-top: 53px;
    }
    .services1 p, .services2, .services_parc {
        font-size: 21px;
        color: white;
        text-align: center;
    }
    h3, .title_section2 p, .title_gestion_globale p, .title_installation p{
        font-size: 21px;
    }
    .image_depannage{
        margin-top: 70px;
        height: 93px;
        width: 67px;
    }
    .logo_reseau {
        margin-top: 85px;
        width: 90px;
    }
    .conseil-informatique-picto2 {
        margin: 70px;
    }
    /*h2 {
         font-size: none; 
    }*/
    .temoignage{
        background-color: #c4c4c4;
        width: 246px;
         height: 232px;
    }
    .temoin1{
        width: 246px;
        height: 226px;
    }
    .btn-1{
        margin-left: 37%;
    } 
    h2 {
        font-size: 40px;
    }
    .our_contacts{
        background-color: white;
        width: 27%;
        margin-left: 4%;
        padding-top: 9px;
        height: 325px;
    }
    .reseau3{
        padding: 4%;
    }
    .footer_right p {
        font-size: 16px;
    }
    footer{
        height: 227px;   
    }
    hr{
        height: 225px;
    }
}

@media screen and (max-width: 980px) {
    .mi {
        height: 70vh;
    }
    .title_section1 {
        margin-top: 277px;
    }
   /* header{
        background-image: url('img/maintenancier.jpg');
        height: 100vh;
        width: 100%;
        background-size: cover;   
    }
    .grand_title p {
        position: relative;
        background-color: rgba(248, 245, 245, 0.7);
        width: auto;
        height: 90vh;
        text-align: center;
        padding-top: 80px;
        top: 37px;
        left: 40px;
        font-size: 40px;
    }*/
    .services1_parc{
        width: 340px;
        margin-left: 40px;
    }

    .img_parc{
        width: 340px;
    }

    .temoignage{
         background-color: #c4c4c4;
         width: 220px;
         height: 235px;
    }
    .temoignage_bloc1{
        flex-wrap: wrap;
    }
    .temoignage_bloc{
        flex-wrap: wrap;
    }

    .temoin1{
        width: 220px;
    }

    .image_blue{
        height: 90vh !important;   
    }
/*
    input{
        border: none;
        outline: none;
        border-bottom: 1px solid black;
        background: none;
        margin-right: 8px;
        width: 30px;
    }*/
    h2 {
        font-size: 24px;
    }
    .our_contacts{
        background-color: white;
        width: 25%;
        height: 350px;
        border-radius: 20px;
        margin-top: 30px;
        margin-left: 10%;
        padding-top: 5px;
        padding-left: 30px;
    }

    button{
        background-color: #1565D4;
        width: 130px;
        height: 50px;
        border-radius: 20px;
        border: 1px solid #1565D4;
        margin-top: 4%;
    }
    .important_partenaires{
        position: relative;
        top: 7px;
    }

    #partenaires{
        display: flex;
        justify-content: space-between;
        margin-left: 11%;
        margin-right: 11%;
        margin-top: 7%;
    }
 }
 @media all and (max-width: 937px){
    .our_contacts{
        margin-left: 0%;
    }
    .our_contacts {
        padding-left: 10px;
    }
    .message{
        width: 31px;
    }
    .whatsapp_contact{
        width: 45px;
    }
    h2 {
        font-size: 24px;
    }
 }

 @media all and (max-width: 861px){
    .our_contacts p{
        font-size: 12px;
    }
    .our_contacts{
        height: 285px;
    }
    .image_blue {
        height: 77vh !important;
    }
 }
/*continué à partir d'ici*/
 @media all and (max-width: 750px){
    .title_section1 {
        font-size: 14px !important;
        margin-right: 150px;
    }
    .pc_repair{
        width: 115px;
         height: 115px;
    }
    .our_services {
        display: flex;
        justify-content: unset;
        margin-top: 10%;
        margin-left: 74px;
    }
    .services2, .services_parc {
        margin-top: 0px !important;
        margin-left: 35px;
    }
    .services1 p, .services2, .services_parc {
        font-size: 10px;
    }
    .services1{
        height: 160px
    }
    .devices{
        width: 127px;
        height: 100px
    }
    .services2, .services_parc {
        margin-top: 0px;
    }
    .img_parc{
        width: 120px;
        height: 90px;
    }
    .services_parc {
        font-size: 9px !important;
    }
    .logo{
        margin-left: 16px
    }
    a{
        font-size: 18px;
    }
    nav{
        margin-right: 36px
    }
    .section2 {
        margin-left: 4%;
        margin-right: 26%;
        margin-top: 10%;
    }
    .image_depannage {
        margin-left: 29px
    }
    .section3 {
        margin-right: 27%;
        margin-left: 4%;
    }
    .title_installation {
        margin-left: 20px;
    }
    .section4 {
        margin-right: 14%;
        margin-left: 4%;
    }
    .conseil-informatique-picto2 {
        margin-top: 108px;
        margin-left: 7px;
    }
    #en-tête {
        display: flex;
        background-color: #a21818;
        margin-top: -65px;
        width: 74vw;
        height: 95px;
    }
    .temoignage_bloc {
        padding-left: 0%;
        padding-right: 10%;
    }   
    .temoin1 {
        width: 162px;
    }
    .temoignage {
        width: 162px;
    }
    .temoignage_bloc1 {
        margin-right: 100px;
    }
    .image_blue {
        width: 76%;
    }   
    #partenaires {
        margin-left: 1%;
        margin-right: 27%;
    }
    .nos_partenaire_logo{
        width: 94px;
    }
    frame {
        width: 77%;
        height: 350px !important;
    }
    fieldset{
        width: 527px;
        border: none;
    }
    footer{
        width: 560px
    }
    .footer_right p, .footer_right p {
        font-size: 9px;
        width: 60px
    }
    .reseau3 {
        /*padding: 0%;*/
        margin-left: 2%;
    }
    .facebook p {
        width: 62px;
    }
    .facebook{
        width: 50px !important;
    }
    hr {
        height: 158px;
        margin-left: 0px;
         margin-right: 0px;
          margin-top: 0px;
    }
    footer {
    height: 160px;
    }
    .mi_install{
        width: 167px
    }
    .messager_right{
        width: 30px;
    }
 }

 @media all and (max-width: 1307px) {
     header{
        background-image: url('img/maintenancier.jpg') ;
        width: 100%;
        height: 50vh;
        background-size: cover;
     }
     .grand_title p{
        position: relative;
        background-color: rgba(248, 245, 245, 0.7);
        width: 100%;
        height: 41vh;
        text-align: center;
        padding-top: 40px;
        top: 37px;
        left: 50px;
        font-size: 20px;
    }
    
    .title_section1{
        font-size: 25px;
    }
    .our_services{
        flex-wrap: wrap;
    }
    .services_parc{
        font-size: 20px
    }
    .services2, .services_parc{
          margin-top: 15px;
      }
      
      a{
          font-size: 10px;
          padding: 5px;
      }
    
 }
 @media all and (max-width: 1037px) {
    header{
       background-image: url('img/maintenancier.jpg') ;
       width: 100%;
       height: 25vh;
       background-size: cover;
    }
    .grand_title p{
       position: relative;
       background-color: rgba(248, 245, 245, 0.7);
       width: 100%;
       height: 18vh;
       text-align: center;
       padding-top: 40px;
       top: 37px;
       left: 25px;
       font-size: 20px;
   }

   a{
    padding: 5px;
}
}
@media all and (max-width: 750px){

    header{
        background-image: url('img/maintenancier.jpg') ;
        width: 75%;
        height: 25vh;
        background-size: cover;
     }
     .grand_title p{
        position: relative;
        background-color: rgba(248, 245, 245, 0.7);
        width: 40%;
        height: 18vh;
        text-align: center;
        padding-top: 40px;
        top: 37px;
        left: 25px;
        font-size: 20px;
    }

    .btn-2{
        background-color: #1565D4;
        width: 200px;
        height: 50px;
        border-radius: 20px;
        border: 1px solid #1565D4;
        margin-left: 20%;
        margin-top: 4%;
        position: relative;
     }
}

@media all and (max-width: 453px){

    .image_blue{
       flex-wrap: wrap;
    }

    .our_contacts {
        background-color: white;
        width: 53%;
        height: 351px;
        border-radius: 20px;
        margin-top: 30px;
        margin-left: 20%;
        padding-top: 5px;
        padding-left: 10px;
    }
    form{
        margin-left: 85px;
        margin-right: 0px;
        margin-top: 0px;
         margin-bottom: 0px;
    }
    .btn-2 {
        background-color: #1565D4;
        width: 200px;
        height: 50px;
        border-radius: 20px;
        border: 1px solid #1565D4;
        margin-left: 55px;
     margin-top: 4%;
    /* position: relative; */
    }

    .logo_partenaires h2{
        margin-left: 13%;
        margin-top: 5%;
     }

     .nos_partenaire_logo{
         width: 90px;
         margin-left: 10px;
     }

     .footer_right p {
        color: white;
        font-size: 15px;
    }

    footer {
        background-color: black;
        width: 100%;
        height: 483px;
    }
    

    #reseaux_sociaux{
        /*display: flex;*/
        width: 100%;
        height: 0%;
    }

    .image_depannage{
        margin: 100px 0 0 17px;
    }

    .section3{
        display: flex;
        justify-content: space-around;
        margin-right: 15%;
        margin-left: 25%;
    }

    .title_installation {
        margin-left: 20px;
     }

     .conseil-informatique-picto2{
        margin: 300px 0 0 0px;
        width: 90px;
    }

    .services1{
        margin-left: 25px;   
    }

    .logo{
        margin-left: 50px;
        margin-top: 65px;
    }
    nav{
        margin-top: 57px;
        margin-right: 99px;
    }
}
@media all and (max-width: 375px){

    .image_depannage{
        margin: 100px 0 0 0px;
        width: 70px;
    }
}
